<?php if ($this->previewMode): ?>
    <div class="form-control"><?= e($value) ?></div>
<?php else: ?>
    <div
        id="<?= $this->getId() ?>"
        class="field-yandex-place">
        <div id="<?= $this->getId('textarea') ?>-div" style="height: <?=e($height)?>; width: 100%"></div>
        <input
            type="hidden"
            name="<?= $name ?>"
            id="<?= $this->getId('textarea') ?>"
            value="<?= e($value) ?>"
            class="form-control"
            data-control="location-autocomplete"
            <?= $field->getAttributes() ?>
            <?= $this->getFieldMapAttributes() ?>
            />

        <? if($editable === true): ?>
        <div style="float: left;width: 100%;margin-top: 10px">
            <div class="form-group  text-field span-left">
                <label for="<?= $this->getId('textarea') ?>_latitude">latitude</label>
                <input type="text" id="<?= $this->getId('textarea') ?>_latitude" value="" placeholder="" class="form-control" autocomplete="off">
            </div>

            <div class="form-group  text-field span-right">
                <label for="<?= $this->getId('textarea') ?>_longitude">longitude</label>
                <input type="text"id="<?= $this->getId('textarea') ?>_longitude" value="" placeholder="" class="form-control" autocomplete="off" >
            </div>
        </div>
        <?endif;?>

    </div>
<?php endif ?>
<script type="text/javascript">
$(function(){
    var fieldName = "<?= $field->fieldName; ?>",
    mapDiv = "<?= $this->getId('textarea') ?>",
    options = {
        editable: <?=($editable === true) ? "true" : "false" ?>,
        <?if (!empty($markers)):?> markers: <?=$markers?> <?endif;?>
    },
    getMapPosition = parsePos($("#" + mapDiv).val());

    marker["<?= $field->fieldName; ?>"] = fieldName;
    inicializar(getMapPosition[0], getMapPosition[1], <?=e($zoom)?>, fieldName, mapDiv, options);
});
</script>