<?php if ($this->previewMode): ?>
    <div class="form-control"><?= e($value) ?></div>
<?php else: ?>
    <div
        id="<?= $this->getId() ?>"
        class="field-yandex-address">
        <select
        name="<?= $name ?>"
        id="<?= $this->getId('textarea') ?>"
        class="form-control custom-select"
        data-handler="<?= $this->getEventHandler('onGetYAdress') ?>"
        data-minimum-input-length="2"
        data-ajax--delay="300"
        >
            <option value="<?=e($value)?>" selected="selected"><?=e($value)?></option>
        </select>
        <script>
            jQuery(document).ready(function($) {
                var el = '#<?= $this->getId('textarea') ?>',
                target = "<?=e($target)?>";

                $("body").on('change', el, function(event) {
                    
                    $(el).find("option:not(:last)").remove();
                    $(el).find("option").attr("selected", true);
                    var cords = $(el).val();
                    $(el).find("option").val($(el).find("option").text());
                    
                    if(target) {
                        $("[name='"+target+"']").trigger('change-cords', cords);
                    }
                });
            });
        </script>
    </div>
<?php endif ?>